<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Student Engagement Monitoring System</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <img src="./static/monash_logo.png" width=700 height=150 alt="Monash University Malaysia">
        <h1>Real-time Student Engagement Monitoring System</h1>

        <button id="start-btn">Start Monitoring</button>
        <button id="stop-btn" style="background-color: rgba(171, 16, 11, 0.877);">Stop Monitoring</button>
        <div id="status"></div>
    </div>
    <script src="./static/script.js"></script>
</body>
</html>